@model FileEntity
@inject UserManager<IdentityUser> usermanager
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            @if (Model.ContentType.Contains("image"))
            {
                <img src="~/files/@Model.Name" class="img-fluid rounded-start" alt="File Name" style="height:100%;max-height:310px;width:100%">
            }
            else
            {
                <img src="~/free-file-icon-1453-thumb.png" style="height:100%;max-height:310px;width:100%" class="img-fluid rounded-start" alt="File Icon">
            }
        </div>
        <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <h5 class="card-title">@Model.Name.Substring(36)</h5>
                @if (Model.ShowUploaderName == true)
                {
                    <p class="card-text mt-1">
                        Uploader Name: <span class="fw-bold">@(usermanager.FindByIdAsync(Model.UploaderID)?.Result?.UserName)</span>
                    </p>
                }
                <p class="card-text">
                    @if (Model.Size / 1024 < 1024)
                    {
                        <span>Size:</span> <span class="fw-bold">@(Model.Size / 1024) KB</span>
                    }
                    else if (Model.Size / 1024 > 1024)
                    {
                        <span>Size:</span> <span class="fw-bold">@(Model.Size / (1024 * 1024)) MB</span>
                    }
                    else
                    {
                        <span>Size:</span> <span class="fw-bold">@(Model.Size) Byte</span>
                    }
                </p>
                <p class="card-text">
                    Content Type: <span class="fw-bold">@(Model.ContentType)</span>
                </p>
                <p class="card-text">
                    Download times: <span class="fw-bold">@(Model.DownloadsCount)</span>
                </p>
                <p class="card-text"><small class="text-muted">@Model.UploadDate</small></p>
                <form class="d-flex flex-row-reverse" asp-action="download" asp-controller="file" method="get">
                    <input name="fileName" value="@Model.Name" hidden type="hidden" />
                    <button type="submit" class="btn btn-primary text-decoration-none">Download</button>
                </form>
            </div>
        </div>
    </div>
</div>
